# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
.venv/
venv/

# Django
staticfiles/
backend/media/medical_documents/**/*.pdf

# Node
node_modules/

# OS
.DS_Store

# Duplicate nested folder
hospital-demo/
